<mat-toolbar class="mat-elevation-z6 d-block" color="primary">
  <span fxFlex></span>
  <a mat-button class="nav-link " routerLink="/">AppLearn</a>
 
  
  <a mat-button class="nav-link "  routerLink="authentication/register" *ngIf="!isLogged"  >Registro</a>
  <a mat-button class="nav-link " routerLink="authentication/login" *ngIf="!isLogged">Inicio de Sesión</a>
  <a mat-button class="nav-link " routerLink="/" *ngIf="isLogged">Inicio</a>
  <a mat-button class="nav-link " routerLink="/students" *ngIf="isLogged">Alumnos</a>
  <a mat-button class="nav-link " routerLink="/courses" *ngIf="isLogged">Cursos</a>
  <a mat-button class="nav-link " routerLink="/teachers" *ngIf="isLogged">Docentes</a>
  <a mat-button class="nav-link " routerLink="/settings" *ngIf="isLogged">Ajustes</a>
  <a mat-button class="nav-link " routerLink="/help" *ngIf="isLogged">Ayuda</a>

  <a mat-button  class="toRight" (click)="onLogout()" *ngIf="isLogged">Salir</a>

</mat-toolbar>